:host ::ng-deep .custom-table .p-datatable-wrapper {
  height: 28.5rem;
}

:host ::ng-deep .custom-table .p-datatable-tbody {
  height: 100%;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .custom-table .p-datatable-tbody > tr {
  flex: 0 0 auto;
}

:host ::ng-deep .custom-table .p-datatable-tbody:empty::after {
  content: ' ';
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.03);
  display: block;
}
