<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  
</style>

<main>
  <div>
    <app-menu-bar (itemMenu)="showComponent($event)"></app-menu-bar>
  </div>
    @if (component['table']) {
      <div>
        <div>
          <app-tabs (refresh)="refresh()"></app-tabs>
        </div>
        <div class="grid">
          <div class="col-4">
            <app-panel label="Minimum" [montant]="minMaxTotal.minimum"></app-panel>
          </div>
          <div class="col-4">
            <app-panel label="Maximum" [montant]="minMaxTotal.maximum"></app-panel>
          </div>
          <div class="col-4">
            <app-panel label="Total" [montant]="minMaxTotal.total"></app-panel>
          </div>
        </div>
      </div>
    }
    @if (component['histogramm']) {
      <div class="grid ">
        <div class="col-8 mx-auto">
          <histogramm></histogramm>
        </div>
      </div>
    }@if (component['addPage']) {
      <div>
        <classic-form [productData]="{design: '',numProduit : '',prix : 0, quantite : 0}" [(visible)]="component['addPage']" [nature]="'ajout'" (annuler2)="showComponent($event)"></classic-form>
      </div>
    }
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />

